@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
body {
  background-color: #1f212d;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  text-decoration: none !important;
}
footer {
  background: #131417;
  color: #ffffff;
  text-decoration: none !important;
}

.bg-dark {
  background-color: #101114 !important;
}
.navbar-color {
  background-color: #282a37;
}
.navlogo:hover {
  opacity: 75%;
  transition: color 0.15s ease-in-out;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.btn-lf {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 39%);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #454ade;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-lf:hover {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 39%);
  text-align: center;
  text-decoration: none;
  color: #454ade;
  background: #ffffff;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-lfs {
  border: 0.3rem solid transparent;
  font-size: 17px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #454ade;
  cursor: pointer;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-lfs:hover {
  border: 0.3rem solid transparent;
  font-size: 17px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #3c45a5;
  cursor: pointer;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-primary {
  border: 0.3rem solid #454ade;
  font-size: 17px;
  border-radius: 10px;
  color: #ffffff;
}
.btn-outline-primary:hover {
  color: #454ade;
  background-color: #ffffff;
  border: 0.3rem solid #ffffff;
  transition: all 0.3s ease, all 0.3s ease-out;
}
.nav-link:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #c2c0c3 !important;
}
.text-warning {
  text-decoration: none;
}
.text-warning:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ff008e !important;
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
  color: #ffffff;
}
.footer-link:hover {
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #454ade !important;
}
.bg-footer {
  color: white;
  background-color: #272729;
  border: none;
  border-radius: 10px;
}
.bg-footer:hover {
  color: white;
  background-color: #1f2023;
  border: none;
  border-radius: 10px;
}

.text-home:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #454ade !important;
}
.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101114;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #454ade;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  background-clip: border-box;
}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.card-title {
  margin-bottom: 1.25rem;
}

.statc-icon {
  font-size: 3.8rem;
  font-weight: 200;
  color: #4856ee;
}
.count-num {
  font-size: 24px;
}
